<div class="container">

  <button class="button-cryptocurrency-choice" mat-button [matMenuTriggerFor]="menu">
    kliknij, aby wybrać kryptowalutę
  </button>
  
  <mat-menu #menu="matMenu">
    <button (click)="selectCryptocurrency(cryptocurrency)" *ngFor="let cryptocurrency of cryptocurrencyRates" mat-menu-item>
    {{cryptocurrency.id}}
  </button>
  </mat-menu>
  
  
  
  
  <div class="selected-cryptocurrency-container">
    <div class="selected-cryptocurrency-container-currency-detail">
      <p>ID wybranej kryptowaluty:</p>
      <p *ngIf="selectedCryptocurrency?.id; else none">{{selectedCryptocurrency?.id}}</p>
      <ng-template #none>-</ng-template>
    </div>
    
    <div class="selected-cryptocurrency-container-currency-detail">
      <p>Symbol wybranej kryptowaluty:</p>
      <p *ngIf="selectedCryptocurrency?.symbol; else none">{{selectedCryptocurrency?.symbol}}</p>
      <ng-template #none>-</ng-template>
    </div> 
  
    <div class="selected-cryptocurrency-container-currency-detail">
      <p>Symbol walutowy wybranej kryptowaluty:</p>
      <p *ngIf="selectedCryptocurrency?.currencySymbol; else none">{{selectedCryptocurrency?.currencySymbol}}</p>
      <ng-template #none>-</ng-template>
    </div>  

    <div class="selected-cryptocurrency-container-currency-detail">
      <p>Typ wybranej kryptowaluty:</p>
      <p *ngIf="selectedCryptocurrency?.type; else none">{{selectedCryptocurrency?.type}}</p>
      <ng-template #none>-</ng-template>
    </div>  

    <div class="selected-cryptocurrency-container-currency-detail">
      <p>Kurs wybranej kryptowaluty (USD):</p>
      <p *ngIf="selectedCryptocurrency?.rateUsd; else none">{{selectedCryptocurrency?.rateUsd}}</p>
      <ng-template #none>-</ng-template>
    </div>  
  </div>
  
  </div>