.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-cryptocurrency-choice {
  width: 300px;
  height: 100px;
  font-size: 18px;
  border-radius: 50px;
  margin-top: 20px;
}

.selected-cryptocurrency-container {
  display: flex;
  flex-direction: column;
}

.selected-cryptocurrency-container-currency-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #3f51b5;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  font-size: 14px;
  color: white;
}


