<div class="upper-container">
  <div class="upper-header-container">
    
    <div (click)="goHome()" class="upper-header-text">
      Kalkulator walut online
    </div>
    

    <div class="upper-header-image-container">
      <img class="upper-header-image" src="assets/icons/menu-icon.png">
      <img class="upper-header-image" src="assets/icons/document.png">
      <img class="upper-header-image" src="assets/icons/book.png">
      <img class="upper-header-image" src="assets/icons/home.png">
      <img class="upper-header-image" src="assets/icons/hamburger.png">
    </div>

  </div>
</div>
<router-outlet></router-outlet>
