<div class="container">
  <div class="calculator-container">



    <div>
      {{firstSelectedCurrencyAmount}} {{firstSelectedCurrency?.currency}} to w przeliczeniu 
    </div>

    <div>
      {{secondSelectedCurrencyAmount}} {{secondSelectedCurrency?.currency}}
    </div>

    <div>
      {{date | date: 'H:mm - dd/MMM/yyyy'}}
    </div>

    <div>
      <form class="example-form">
        <div>
          <mat-autocomplete #firstAuto="matAutocomplete">
            <mat-option (click)="selectFirstCurrency(currency)" *ngFor="let currency of currencyRates" [value]="currency.currency">{{ currency.currency }}</mat-option>
          </mat-autocomplete>
          <input class="input-currency-name" type="text" placeholder="Search for a currency" [matAutocomplete]="firstAuto">
          <input class="input-currency-amount" (input)="updateFirstCurrencyAmount()" [(ngModel)]="firstSelectedCurrencyAmount" type="number" placeholder="amount" name="firstCurrency">
        </div>
  
        <div>
          <mat-autocomplete #secondAuto="matAutocomplete">
            <mat-option (click)="selectSecondCurrency(currency)" *ngFor="let currency of currencyRates" [value]="currency.currency">{{ currency.currency }}</mat-option>
          </mat-autocomplete>
          <input class="input-currency-name" type="text" placeholder="Search for a currency" [matAutocomplete]="secondAuto">
          <input class="input-currency-amount" (input)="updateSecondCurrencyAmount()" [(ngModel)]="secondSelectedCurrencyAmount" type="number" placeholder="amount" name="secondCurrency">
        </div>
      </form>
  
    </div>
  </div>
  </div>
